# vim: set foldmethod=marker :
########################################################################
# This file is a compilation of some among the most common ignores
# needed for scientists producing texts in a number of formats (LaTeX,
# Word, Excel, etc.), PDF files, and working with stuff such as Python
# and R. As a bonus, there are some standard ignore patterns for Windows
# and Mac.

# Generated binary files (PDF, Word, etc.) go here {{{1
## Book build output
_book

# Vim sessions are a user's preference.
*.vim

# Jekyll {{{1
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.vendor/
.bundle/
Gemfile.lock

# Word processors and other binary cruft {{{1
_csl

# LibreOffice locks
.~lock.*#
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

